{{#modules}}
  const {{name}} = require('./{{name}}.babelized');

  {{#handlers}}
    module.exports.{{name}}_{{.}} = async function (event, context, callback) {
      try {
        return await {{name}}.{{.}}(event, context, callback);
      } catch (e) {
        if (e.status) {
          if (e.status === 500) {
            callback(null, {statusCode: 502, body: e});
          } else {
            callback(null, {statusCode: e.status, body: e});
          }
        } else {
          callback(null, {statusCode: 500, body: e});
        }
      }
    }
  {{/handlers}}
{{/modules}}

const runtime = require('serverless-cloud-elements-runtime');
module.exports.resume = runtime.resume;
module.exports.resourceSetCRUD = runtime.resourceSetCRUD;